/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
#loader{
    position: fixed;
    top: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    text-align: center;
    display: none;
}
#loader .spinner-grow{
    margin-top: 18%;
}
body{
    position : relative;
    overflow-x: hidden;
}
.form-control{ color: #6e6b7b !important; }
form select.error, form select.error:focus { border-color: #ea5455 !important; }
.header-navbar.floating-nav{
	margin: 0.5rem 2rem 0;
}
.card .card-header{
	padding: 0.7rem 1.3rem 0.7rem 1.3rem;
}
.card{
	margin-bottom: 1.5rem;
}
html .content.app-content {
    padding: calc(2rem + 3.45rem + 0rem) 2rem 0;
}
.navbar-floating .navbar-container {
    padding: 0.5rem 1rem;
}
.header-navbar{
	min-height: 1rem;
}
.header-navbar .navbar-container ul.navbar-nav li.dropdown-user .dropdown-menu {
    width: 13rem;
}
label{
    font-weight: 500;
}
.main-menu.menu-light .navigation > li.active > a{
    background: #ed3240;
    box-shadow: none;
}
.gap-20{
    gap: 20px;
}

/* Start mark for required field */
.required:after {
    content:"*";
    color:red;
  }
select.form-control:not([multiple=multiple]){
    padding-right: 2.5rem;
}
.btn{
    padding: 0.786rem 1rem;
    box-shadow: none !important;
}
.main-menu.menu-light .navigation > li ul .active{
    background: #ed3240;
    box-shadow: none;
}
.btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background: #0f172a!important;
}
td{
    word-break: break-word;
}
.width90{
    min-width: 90px;
}
div.dataTables_wrapper div.dataTables_filter label, div.dataTables_wrapper div.dataTables_length label {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
table.dataTable{
    margin-top: 0px !important;
}
table.dataTable td, table.dataTable th {
    padding: 0.7rem 0.6rem;
    vertical-align: middle;
}
.table thead th, .table tfoot th{
    font-size: 0.8rem;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 1em !important;
}
.card-text{
    height: 100px;
}
@media (max-width: 575.98px){
    html body .app-content {
        padding: calc(2rem - 0.8rem + 2.5rem + 1.3rem) calc(2rem - 0.8rem) 0 calc(2rem - 0.8rem) !important;
    }
    .mb-xs-1{
        margin-bottom: 1rem;
    }
    .card-text{
        height: 145px;
    }
}
@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
}
.navbar-floating .header-navbar-shadow{
    height: 60px;
}

.custom-checkbox .custom-control-label, .custom-radio .custom-control-label {
    font-size: 0.81rem;
    position: static;
}
.custom-control{
    min-height: 2rem
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #ed3240;
}
.b-avatar-img img{
    max-width: 100%;
    width: auto;
    height: 100px;
}
.card-image{
    width: 100px;
    height: 100px;
}
.card-image img{
    width: auto;
    max-width: 100%;
    height: 100%;
}
.dataTables_filter{
    float: right;
}
.timeslot {
  border: 1px solid #ed2124;
  color: #6e6b7b;
  padding:7px;
  border-radius: 3px;
  text-align:center;
}
.disable_timeslot{
    background: #ebe9f1;
    border: none;
}
.custom-control{
    min-height: 1rem;
}
.custom-radio.custom-control{
    margin-left: 10px;
}
.custom-radio .custom-control-label::before{
    width: 13px;
    height: 13px;
}
.custom-checkbox.custom-control, .custom-radio.custom-control {
    padding-left: 1.5rem;
}
.question_label{
    font-size: 13px;
}
.act_timeslot{
    cursor: pointer;
}
.fc .fc-highlight{
    background: #22a75d;
}
.selected_timeslot{
    background: #22a75d;
    color: #fff;
    border: none;
}.fc-state-highlight {background:red;}

.radio_share {
    font-size: 1.2rem !important;
    position: static;
}
.radio_share::before {
    top: 0.5rem !important;
}
.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button){
    border-color:#ed2124;
    color: #ed2124;
}
.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button).fc-button-active, .fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):hover{
    border-color:#0f172a!important;
    color: #0f172a!important;
    background-color: rgba(237, 33, 36, 0.2) !important;
}
.fc .fc-list-event-dot{
    border: calc(var(--fc-list-event-dot-width,10px)/ 2) solid var(--fc-event-border-color,#ed2124) !important;
}