@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Urbanist:wght@200;300;400;500&display=swap');

body {
    overflow-X: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f6f8ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
}
p {
    font-family: 'Poppins', sans-serif;
}
/*---------------------- INDEX PAGE -------------------------------*/
/*--- Sub Navbar ---*/
.sub-nav{background-color: #0f172a;color: #fff;padding: 4px 0px 4px 0px;height: auto; }
.sub-nav .sub-nav-left p{margin-bottom: 0px !important;font-size: 15px;line-height: 35px;
    animation: blinker 1s linear infinite; }
@keyframes blinker {80% {opacity: 0;}}
.sub-nav .sub-nav-right p{margin-bottom: 0px !important;font-size: 15.50px;line-height: 35px;float: inline-end;}
/*--- Navbar Custom ---*/
.navbar-custom {background-color:#fff !important;height: 80px;font-family: 'Poppins', sans-serif;box-shadow: 0 1px 3px rgba(17,24,39,.09); }
.navbar-custom .nav-link-custom {padding-left: 10px !important;padding-right: 10px !important;color:  #0f172a;position: relative;font-weight: 400;font-size: 16px;}
.navbar-custom .nav-link-custom::before {content: '';position: absolute;width: 100%;height: 2px;border-radius: 1px;background-color:  #754ffe;bottom: 4px;left: 0;transform-origin: right;transform: scaleX(0);transition: transform .3s ease-in-out;}
.navbar-custom .nav-link-custom:hover{color:  #754ffe;transition: 0.5s;}
.navbar-custom .nav-link-custom:hover::before {transform-origin: left;transform: scaleX(1);}
.btn-custom{background-color: #754ffe;color: #fff;font-size: 16px;padding: 9px 20px;border-radius: 4px;font-family: 'Poppins', sans-serif !important;transition: all .5s ease;box-shadow: 0 .5rem 1.125rem -.5rem rgba(162, 105, 254, 0.9)}
.btn-custom:hover{background-color: #6037f5;color: #fff;transition: 0.9s;transform: translateY(-3px);}
.fixed-top {position: fixed;top: 43px;right: 0;left: 0;z-index: 1030;}
.fixed-top-custom{position: fixed;top: 0px;right: 0;left: 0;z-index: 1030;}
/*-- Slider ---*/
.all-section{margin-top: 8rem; }
/*--- Coure ---*/
.courses-section{padding: 10px 0px 10px 0px;}
.courses-heading-sc{margin-bottom: 55px;}
.courses-heading-sc .cousres-main-heading{color:  #0f172a;margin-bottom: 18px;}
.courses-heading-sc .cousres-main-heading .common-heading-color{color:  #754ffe;border-bottom: 3px solid #ffaa46;}
.courses-sub-heading{color: #64748b;font-size: 16px;}
.courses-card{background-color: #fff;padding: 15px 15px;box-shadow: 0 1px 3px #11182717;border-radius: 5px;transition: box-shadow .25s ease;transition: all .5s ease;margin-bottom: 20px;}
.courses-card:hover{box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -2px #0000000d!important;transform: translateY(-5px);}
.courses-img-sc{ margin-bottom: 15px;}
.courses-img-sc .courses-img{border-radius: 4px;}
.courses-text-sc h5{color:  #0f172a;}
.courses-text-sc p{color:  #008f00;}
.courses-text-sc .cousres-sub-heading{color: #757575;margin-bottom: 5px;}
.btn-courses-btn{font-family: 'Poppins', sans-serif;background-color:  #ede9fe;color:  #0f172a;border-radius: 4px;font-size: 15px;font-weight: 500;padding: 6px 20px;transition: all .5s ease;}
.btn-courses-btn:hover{background-color:  #ede9fe;color:  #0f172a;transform: translateY(-3px);}
.btn-view-all{background-color: #ffaa46;margin-top: 45px;font-family: 'Poppins', sans-serif;padding: 9px 45px;font-size: 16px;transition: all .5s ease;font-weight: 500;border-radius: 4px;box-shadow: 0 .5rem 1.125rem -.5rem rgba(255, 226, 97, 0.9)}
.btn-view-all:hover{transform: translateY(-3px);background-color: #6037f5;color: #fff;transition: 0.9s;}
/*-- model ---*/
.modal-content-custom{border-radius: 4px;}
.modal-body-custom{background-color: #f6f8ff;font-family: 'Poppins', sans-serif;padding: 45px 5px;}
.modal-header-custom{background-color: #f6f8ff;color: #0f172a;}
.all-detail ul{margin: 0;}
.all-detail ul li{color: #64748b;font-size: 15px;margin-bottom: 8px;}
/*--- Footer ---*/
.footer-sc{background-color: #0f172a;padding: 75px 0px 65px 0px;}
.footer-img-sc ul{list-style: none;padding: 0;margin: 0;}
.footer-img-sc ul li{display: inline-block;}
.footer-img-sc ul li a{background-color: #fff;padding: 6px 8px;border-radius: 4px;text-decoration: none;color: #0f172a;}
.footer-img-sc p{color: #fff;margin-top: 15px;font-size: 15px;margin-bottom: 20px;}
.footer-link-sc h6{margin-bottom: 20px;color: #fff;font-family: 'Poppins', sans-serif !important;font-weight: 500 !important; font-size: 19px; color:  #754ffe;}
.footer-link-sc ul{list-style: none;margin: 0px;padding: 0px;}
.footer-link-sc ul li{margin-bottom: 8px;}
.footer-link-sc ul li a{color: #fff;text-decoration: none;font-family: 'Poppins', sans-serif;font-size:14px;position: relative;}
.footer-link-sc ul li a::before {content: '';position: absolute;width: 100%;height: 2px;border-radius: 1px;background-color:  #ffaa46;bottom: 0px;left: 0;transform-origin: right;transform: scaleX(0);transition: transform .3s ease-in-out;}
.footer-link-sc ul li a:hover::before {transform-origin: left;transform: scaleX(1);}
.sub-footer{background-color: #0d111d;color: #fff;padding: 12px 0px;}
.sub-footer p{margin-bottom: 0px !important;line-height: 25px;}
/*--- */
.cousres-banner-card{background-color: #ffaa46;border-radius: 25px;padding: 50px 45px;width: 100%;max-width: 950px;margin: auto;margin-bottom: 5rem;margin-top: 2rem;border-bottom: 3px solid #6037f5;}
.cousres-banner-card-left{margin-bottom: 20px;}



/*-----------------------   Contact Us ---------------------------*/
.breadcumb-sc{background: url(../images/breadcumb.png)no-repeat, linear-gradient(180deg, rgba(214, 0, 0, 0) 0%, #FFFFFF 100%), rgba(0, 0, 5, 0.3);background-size: cover;background-position: top center;font-family: 'Poppins', sans-serif;text-align: center;padding: 75px 0px;margin-bottom: 2rem;}
.rr{background-color: gray;}
.breadcumb-sc h2{color: #0f172a;margin-bottom: 1.5rem;}
.breadcumb-sc ul{padding: 0;margin: 0;}
.breadcumb-sc ul li {display: inline-block;color: #0f172a;}
.breadcumb-sc ul li a{ display: inline-block;color: #754ffe;font-weight: 500;}
.form-page-right h3{color: #0f172a;}
.form-page-right p{color: #757575;font-size: 15px;margin-bottom: 25px;}
.form-page-right{font-family: 'Poppins', sans-serif;background-color: #fff;padding: 50px 35px;border-radius: 5px;box-shadow: 0 1px 3px #11182717;}
.form-label{letter-spacing: 1px;}
.form-control-custom{border-color: #6037f5;border-radius: 2px;font-size: 15px;color: #757575;}
.form-control-height{height: 42px;}
img {max-width: none}
.form-page-left{background-color: #fff;padding: 53px 35px;border-radius: 5px;margin-bottom: 20px;box-shadow: 0 1px 3px #11182717;}