@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Urbanist:wght@200;300;400;500&display=swap');

body {
    overflow-X: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f6f8ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;

}

p {
    font-family: 'Poppins', sans-serif;
}


a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.btn {
    font-family: 'Poppins', sans-serif;
}
/*header */
.navbar-custom {
    height: 70px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(17,24,39,.09);
}
.navbar-custom .nav-link {
    font-size: 14px;
    color: #202124;
    position: relative;
    padding-left: 11px !important;
    padding-right: 11px !important;
   
}
.navbar-custom .nav-link:hover {
    color: #ff4343;
    transition: 0.9s;
}
.navbar-custom .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ff4343;
    bottom: 0px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.navbar-custom .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.custom-btn {
    background-color: #ff4343;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 15px;
    color:#fff;
    margin-right: 5px; 
}
.custom-btn:hover{
    background-color: #ff4343;
    color:#fff;
}
.signup{
    background-color: #ff4343;
    color: #fff;
    transition: all .5s ease;
    
}
.signup:hover{
    background-color: #ff4343;
    color: #fff;
   
}
.offcanvas-end-custom{
    width: 270px !important;
}
.navbar-toggler-custom{
    border: none;
}
.navbar-mobile-user{
    display: none;
}
/*-- --*/
.home-page-main-heading{
    color: #202124;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}
.span-heading{
    color: #1967d2;
    border: 1px solid #1967d2;
    padding: 4px 5px;
    font-size: 16px;
}
.home-page-sub-heading{
    font-size: 14px;
    color: #696969;
    margin-bottom: 45px;
    text-align: center;
}
.nav-pills .nav-link.active{
    
    border-bottom: 2px solid #ff4343; 
    border-radius: 0px;
    background-color: transparent !important;
}
.tabs-category-heading{
    color: #000;
    margin-top: 5px;
    font-size: 14px;
}
.nav-scroller {
    overflow-y: hidden;
}

.nav-scroller ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  
}

a.courses-a {
    text-decoration: none;
}
.tab-cousres-card {
    padding: 15px 15px 15px 15px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px #11182717;
    transition: box-shadow .25s ease;
    border-radius: 5px;
}
.tab-cousres-card:hover {
    box-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -2px #0000000d!important;
}
.tab-cousres-card .tab-cousres-card-img .tab-cousres-card-img-rounded {
    border-radius: 10px;
    margin-bottom: 10px;
}
.tab-cousres-card .span-badge {
    background-color: #38a1691a;
    color: #38a169;
    padding: 3px 10px;
    font-size: 13px;
}
.tab-cousres-card .tab-cousres-card-heading {
    margin-top: 10px;
    color: #1e293b;
    font-size: 14.5px;
}
/* lo
gin and sign up  */
.form-section{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.form-card{
    background-color: #fff;
    width: 100%;
    max-width: 450px;
    padding: 40px 45px;
    border-radius: 10px;
    margin: 25px auto;
    box-shadow: 0 1px 3px #11182717;
    transition: all .5s ease;
}
.form-card:hover{
    transform: translateY(-3px);
}
.form-main-heading{
    color: #202124;
    font-size: 21px;
    margin-bottom: 20px;
}
.form-main-heading-span{
    color: #1967d2;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px dotted #1967d2;
}
.form-sub-heading{
    font-size: 13px;
    color: #717b9e;
    margin-bottom: 35px;
}
.form-custom-label{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.form-icon-main{
    position: relative;
}
.form-icon-sc{
    position: absolute;
    left: 10px;
    top: 45px !important;
}
.form-icon{
    position: absolute;
    left: 10px;
    top: 43px;
    cursor: pointer;
    font-size: 21px;
    color: #dee2e6;
}
.form-control-custom{
    font-family: 'Poppins', sans-serif; 
    padding-left: 35px; 
    font-size: 14px; 
    height: 40px;
    color: #202124;
    border-radius: 10px;
}
.form-control-custom::placeholder {
    color: #202124;
    opacity: 1; /* Firefox */
  }
  
.form-control-custom ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #202124;
}
a.forgot-password-link{
    float: right;
    font-size: 14px;
    margin-top: -5px;
    color: #717b9e;
    text-decoration: none;
}
.btn-sign{
    background-color: #1967d2;
    color: #fff;
    transition: all .5s ease;
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 10px; 
}
.btn-sign:hover{
    background-color: #1967d2;
    color: #fff;
    transform: translateY(-3px);
}
.left-side-signup-card{
    background-color: #fff;
    padding: 40px 45px;
    border-radius: 10px;
    margin: 25px auto;
    transition: all .5s ease;
}
/*-----------FOOTER------------*/
.footer {
    margin-top: 2rem;
    background-color: #1967d212;
    padding: 50px 0px;
}
.footer-logo {
    margin-bottom: 15px;
}
.footer-logo-disclaimer {
    font-size: 14px;
    color: #696969;
    padding: 0px 15px 0px 0px;
}
.link-section {
    margin-bottom: 30px;
}
.link-section .footer-link-heading {
    color:#585858;
    font-size: 17px;
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.link-section .footer-link-heading::before{
    position: absolute;
    top: 0px;
    width: 10px;
    background-color: red;
}
.link-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link-section ul li {
    margin-bottom: 5px;
}
.link-section ul li a {
    position: relative;
    list-style: none;
    padding: 0;
    font-size: 13px;
    text-decoration: none;
    color: #696969;
}
.link-section ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ff4343;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.link-section ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.footer-bottom-section ul{
    padding: 0;
    margin: 0;
    
}
.footer-bottom-section ul{
    padding: 0;
    margin: 0;
}
.footer-bottom-section ul li{
   display: inline-block;
}
.footer-bottom-section ul li a{
   font-size: 13px;
   color:  #696969;
}
.custom-hr{
    color: red;
    margin-bottom: 10px !important;
}
.sub-footer-sc {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #c1c1c1;
    padding: 7px;
    font-size: 14px;
    color: #2f2d51;;
}
.sub-footer-sc p {
    margin-bottom: 0px;
}
/* Jobs */
.job-card{
    
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 13px;
    position: relative;
    background-color: #fff;
}


.job-card h5{
    font-size: 15px;
    color: #202124;
  
}
.job-card h5:hover{
    color: #1967d2;
    transition: 0.9s;
}

.sort-detail ul li{
    padding: 5px 10px 2px 0px;
    color: #585858;
    font-size: 13px;
}
.job-card ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
    margin-bottom: 8px;
}
.job-card ul li {
    display: inline-block; 

}
.select-one{
    background: rgba(25,103,210,.15);
    padding: 3px 11px;
    border-radius: 10px;
    font-size: 11px; 
}
.select-two{
    background: rgba(52,168,83,.15);
    color: #34a853;
    border-radius: 10px;
    padding: 3px 11px;
    font-size: 12px; 
}
.select-th{
    padding: 3px 8px;
    border-radius: 10px;
    background: rgba(249,171,0,.15);
    color: #ffaa46;
    font-size: 12px; 
}
.day-ago{
    font-size: 12px;
    color: #585858;
    font-weight: 500;
}
/* find jobs */
.fillter-section{
    background-color: #fff;
    padding: 25px 10px;
    border-radius: 5px;
    border: 1px solid #e7e7f1;
}
.fillter-section-header{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7f1;
    margin-bottom: 20px;
}
.fillter-section-header span{
    color: #1967d2;
    font-size: 14px;
    font-weight: 500;
    
}

.fillter-section-body{
    padding: 0px 10px;
}
.fillter-heading{
    color: #202124;
    margin-bottom: 15px;
}
.checkbox{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #474d6a;
}

